.sign-up-title {
  padding: 1rem;
  text-align: center;
}

.sign-up-form {
  color: white;
  display: table;
  margin: auto;
}

.sign-up {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffff;
}
.sign-up:hover {
  border-color: #646cff;
}

.have-account {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.have-account-button {
  background: none;
  color: #646cff;
  text-decoration: underline;
}
